.edit-form__wrapper{
	width: 100vw;
	height: 100vh;
	position: fixed;
	top: 0;
	left: 0;
}

.edit-form{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	max-width: 1200px;
	width: 85%;
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	padding: 20px;
	opacity: 1;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.edit-form--hidden{
	opacity: 0;
}

.edit-form__header{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	margin-bottom: 32px;
}

.edit-form__info{
	width: 100%;
	padding-right: 20px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.edit-form__title-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	margin-bottom: 30px;
}

.edit-form__title-input{
	font-size: 32px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
	border-radius: 10px;
}

.edit-form__title-input:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.edit-form__image-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	    -ms-flex-direction: column;
	        flex-direction: column;
	-webkit-box-pack: justify;
	    -ms-flex-pack: justify;
	        justify-content: space-between;
}

.edit-form__image-label{
	width: 274px;
	height: 274px;
	border: 2px dashed rgba(0, 0, 0, 0.3);
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	padding: 8px;
	border-radius: 10px;
	-webkit-transition: border-color 0.2s, opacity 0.2s;
	-o-transition: border-color 0.2s, opacity 0.2s;
	transition: border-color 0.2s, opacity 0.2s;
}

.edit-form__image{
	min-width: 254px;
	height: 254px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
}

.edit-form__image-label:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.edit-form__image-label--dragenter{
	border-color: rgba(0, 0, 0, 1);
	opacity: 0.6;
}

.edit-form__image-input{
	display: none;
}

.edit-form__description{
	font-family: "Open sans", Arial, sans-serif;
	font-size: 16px;
	width: 100%;
	height: 200px;
	resize: none;
	padding-left: 10px;
	padding-right: 10px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
	border-radius: 10px;
}

.edit-form__description:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.edit-form__footer{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	margin-bottom: 30px;
}

.edit-form__price-input{
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
	margin-right: 20px;
	width: 170px;
	border-radius: 10px;
}

.edit-form__price-input:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.edit-form__video-input{
	font-size: 24px;
	padding-left: 10px;
	padding-right: 10px;
	border: 1px solid rgba(0, 0, 0, 0.3);
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
	border-radius: 10px;
}

.edit-form__video-input:hover{
	border-color: rgba(0, 0, 0, 0.6);
}

.edit-form__platforms{
	border: 1px solid rgba(0, 0, 0, 0.3);
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	width: 170px;
	padding: 4px 0;
	margin-left: auto;
	border-radius: 10px;
}

.edit-form__platform-checkbox{
	display: none;
}

.edit-form__platform-label{
	display: block;
	font-size: 0;
	line-height: 0;
	width: 42px;
	height: 42px;
	background-size: contain;
	background-repeat: no-repeat;
	background-position: center;
	/* margin-right: 13px; */
	opacity: 0.1;
	-webkit-transition: opacity 0.2s;
	-o-transition: opacity 0.2s;
	transition: opacity 0.2s;
	cursor: pointer;
}

.edit-form__windows-label{
	background-image: url(../img/icons/gamecard__win.svg);
}

.edit-form__mac-label{
	background-image: url(../img/icons/gamecard__mac.svg);
}

.edit-form__steamos-label{
	background-image: url(../img/icons/gamecard__steam.svg);
}

.edit-form__platform-label:hover{
	opacity: 0.2;
}

.edit-form__platform-checkbox:checked + .edit-form__platform-label{
	opacity: 0.4;
}

.edit-form__submit-wrapper{
	margin: 0 auto;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
}

.edit-form__button{
	background-color: transparent;
	border: none;
	border-radius: 5px;
	font-size: 16px;
	padding: 10px;
	margin-right: 20px;
	cursor: pointer;
	-webkit-box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	width: 138px;
	-webkit-box-sizing: border-box;
	        box-sizing: border-box;
	-webkit-transition: -webkit-box-shadow 0.2s;
	transition: -webkit-box-shadow 0.2s;
	-o-transition: box-shadow 0.2s;
	transition: box-shadow 0.2s;
	transition: box-shadow 0.2s, -webkit-box-shadow 0.2s;
	font-family: "Open sans", Arial, sans-serif;
	text-align: center;
}

.edit-form__button:hover{
	-webkit-box-shadow: 0 3px 6px 0 rgba(32,33,36,0.6);
	        box-shadow: 0 3px 6px 0 rgba(32,33,36,0.6);
}

.edit-form__button:focus{
	outline: none;
	-webkit-box-shadow: 0 3px 6px 0 rgba(32,33,36,0.6);
	        box-shadow: 0 3px 6px 0 rgba(32,33,36,0.6);
}

.edit-form__button--accept{
	background-color: #1a73e8;
	color: #fff;
}

.edit-form__button--delete{
	margin: 0;
	margin-left: auto;
	color: #fff;
	background-color: #ff6868;
}

.edit-form__error-locked{
	position: fixed;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
	background-color: #fff;
	-webkit-box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.6);
	        box-shadow: 0 1px 8px 0 rgba(32, 33, 36, 0.6);
	width: 600px;
	height: 60px;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-ms-flex-pack: distribute;
	    justify-content: space-around;
	-webkit-box-align: center;
	    -ms-flex-align: center;
	        align-items: center;
	opacity: 0;
	-webkit-transition: opacity 0.4s;
	-o-transition: opacity 0.4s;
	transition: opacity 0.4s;
}

.edit-form__error-locked-text{
	margin: 0;
	font-size: 18px;
}

.edit-form__error-locked--hidden{
	display: none;
}

@-webkit-keyframes shake{
	0%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	10%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	30%{
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	60%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	90%{
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	100%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

@keyframes shake{
	0%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
	10%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	30%{
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	60%{
		-webkit-transform: translateX(10px);
		        transform: translateX(10px);
	}
	90%{
		-webkit-transform: translateX(-10px);
		        transform: translateX(-10px);
	}
	100%{
		-webkit-transform: translateX(0);
		        transform: translateX(0);
	}
}

.edit-form__input--invalid{
	border-color: #ff6868;
	-webkit-transition: border-color 0.2s;
	-o-transition: border-color 0.2s;
	transition: border-color 0.2s;
	-webkit-animation: shake 0.4s;
	        animation: shake 0.4s;
}

.edit-form__delete-modal{
	position: absolute;
	top: 50%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	    -ms-transform: translate(-50%, -50%);
	        transform: translate(-50%, -50%);
}

.edit-form__delete-modal--hidden{
	display: none;
}

.delete-modal{
	background-color: #fff;
	-webkit-box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	        box-shadow: 0 1px 4px 0 rgba(32,33,36,0.28);
	padding: 25px;
}

.delete-modal__text{
	margin: 0;
	margin-bottom: 20px;
}

.delete-modal__button-wrapper{
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	    -ms-flex-pack: center;
	        justify-content: center;
}

.delete-modal__button{
	margin: 0 10px;
}

@media(max-width: 850px){
	.edit-form{
		width: 100vw;
		height: 100vh;
		-webkit-box-sizing: border-box;
		        box-sizing: border-box;
		/* padding: 10px */
		top: 0;
		left: 0;
		-webkit-transform: none;
		    -ms-transform: none;
		        transform: none;
		overflow-y: scroll;
	}

	.edit-form__header{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
	}

	.edit-form__info{
		margin-bottom: 20px;
	}

	.edit-form__title-wrapper{
		margin-bottom: 20px;
	}

	.edit-form__title-input{
		width: 80%;
		border-radius: 10px;
	}

	.edit-form__title-input--add{
		width: 100%;
	}

	.edit-form__image-label{
		-ms-flex-item-align: center;
		    -ms-grid-row-align: center;
		    align-self: center;
	}

	.edit-form__footer{
		-webkit-box-orient: vertical;
		-webkit-box-direction: normal;
		    -ms-flex-direction: column;
		        flex-direction: column;
		-webkit-box-align: center;
		    -ms-flex-align: center;
		        align-items: center;
	}

	.edit-form__price-input{
		text-align: center;
		margin: 0;
		margin-bottom: 10px;
		padding: 5px 10px;
	}

	.edit-form__video-input{
		margin-bottom: 10px;
		padding: 5px 10px;
		/* width: 100%; */
	}

	.edit-form__platforms{
		margin-left: 0;
		/* align-self: center; */
	}

	.edit-form__submit-wrapper--add{
		-webkit-box-pack: center;
		    -ms-flex-pack: center;
		        justify-content: center;
	}

	.edit-form__submit-wrapper--add .edit-form__button{
		margin: 0 10px;
	}

	.edit-form__delete-modal{
		position: fixed;
	}
}

@media(max-width: 600px){
	.edit-form__error-locked{
		width: 310px;
	}
}

@media(max-width: 400px){
	.edit-form__delete-modal{
		width: 70%;
	}
}